div{
    border: 1px solid black;
    border-radius:5px;
    width: 15%;
    padding-left: 1.9rem;
    padding-bottom: 2rem;
    margin: 14rem auto;
    background-color: black;
    color: white;
}
input{
    margin-bottom:0.7rem ;
    height: 3vh;
    border-radius: 7px;
}
button{
    width: 74%;
    height: 3vh;
    border-radius: 7px;
}